## atividade 2

Atividades/att2/python/__pycache__/*
Atividades/att2/java/ListaEncadeada/src/*.class
Atividades/att2/*.txt
Atividades/att2/*.ods

## atividade 3
Atividades/att3/Python/__pycache__/*
Atividades/att3/java/sorters/src/*.class
Atividades/att3/*.txt
Atividades/att3/*.ods